* {
  font-family: 'Comfortaa', cursive;
}

.nav-container {
  height: 100%;
  width: 100%;

  .nav-row {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-col-1 {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .search-container {
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding: 5px;

    .icon-search {
      filter: invert(0.75);
      cursor: pointer;
    }
  }

  input {
    border: none;
    outline: none;
  }

  .nav-col-2 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-col-3 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 25px;
  }

  .menu-item {
    font-size: 14px;
    cursor: pointer;
    margin-left: 25px;
  }
}

.slider-container {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden; // paslėpiam išeinančius slider'o elementus už ribų
  transition: all 2s ease;

  .arrow {
    width: 50px;
    height: 50px;
    background-color: lightgreen;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
    z-index: 10;
  }

  .arrow:hover {
    opacity: 1;
    transform: scale(1.1);
  }

  .left {
    left: 15px;
  }

  .right {
    right: 15px;
  }
}

.slide {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;

  .img-container {
    width: 90%;
    height: 90%;
    padding: 50px;
    flex: 1;
    object-fit: contain;
  }

  .info-container {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: ease-out 1s;

    h1 {
      font-size: 70px;
    }

    p {
      margin: 50px 0;
      font-size: 20px;
      letter-spacing: 2px;
    }

    button {
      padding: 10px;
      font-size: 20px;
      background-color: transparent;
      cursor: pointer;
      transition: 0.5s;
    }
  }
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  .category-block {
    flex: 1;
    margin: 10px 10px 0;
    position: relative;
  }
  button {
    padding: 10px;
    font-size: 20px;
    background-color: #fff;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.5s;
  }
  button:hover {
    opacity: 0.9;
  }
  .images {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  h1 {
    color: #adeeda;
    font-size: 36px;
    text-align: center;
  }
}

.pr-container {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: space-between;
  }
  .products {
    flex: 1;
    margin: 0 15px 30px;
    min-width: 280px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: lavender;
    &:hover .info{
      opacity: 1;
  }
  .pr-images {
    height: 75%;
    z-index: 2;
  }
  .info {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    transition: all 0.5s ease;
      &:hover {
      background-color: #e9f5f5;
      transform: scale(1.1);
    }
  }
}

.news-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: antiquewhite;
  width: 100%;
  height: 40vh;
  h1 {
    font-size: 50px;
    margin: 0;
  }
  .inp {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  input {
    width: 100%;
    height: 20px;
    // border: none;
    outline: none;
    padding: 10px;
  }
  button {
    width: 100px;
    border: 1px solid #777;
    border-left: none;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      background-color: lightgreen;
    }
    .ico-send {
      height: 20px;
      width: 20px;
    }
  }
}

