* {
  font-family: 'Comfortaa', cursive;
}

// ANNOUNCEMENT

.announce-container.announce-active {
  display: none;
  transform: translate(0, 0);
  transition: 0.2s linear;
}

.announce-container {
  width: 100%;
  height: 30px;
  background-color: #ffcd00;
  position: sticky;
  top: 0;
  z-index: 9;
  transform: translate(0, 0);
  transition: 0.2s linear;
}

.announcement {
  padding: 8px 65px;
  font-size: 13px;
}

// NAVIGATION
.nav-container.active {
  background-color: #fff;
  box-shadow: 1px 1px 10px #dbdbdb;
  top: 30px;

  // transform: translate(0, 0);
  .search-container {
    background-color: #fff;
  }
}

.nav-container {
  height: 100%;
  width: 100%;
  color: #000;
  font-weight: bold;
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 20;
  // transform: translate(0, -10vh);
  transition: 0.2s linear;

  &:hover {
    // background-color: #fff;
  }

  .nav-row {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .nav-col-1 {
    flex: 1;
    display: flex;
    align-items: center;
  }



  .menu-item {
    text-decoration: none;
    color: #000;
  }

  input {
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    color: #dbdbdb;
  }

  .nav-col-2 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-col-3 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 25px;

    .icon-search {
      background: transparent;
      cursor: pointer;
    }

    button {
      border: none;
      background: none;
      cursor: pointer;
    }
  }

  .menu-item {
    font-size: 14px;
    cursor: pointer;
    margin-left: 40px;
  }
}

.modal {
  overflow: hidden;
  transform: translateX(-100%);
}

.modal-open {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
  transition: 0.5s linear;
  overflow: visible;
  transform: translateX(0);
}

.search-open {
  position: fixed;
  top: 118px;
  box-sizing: border-box;
  width: 100%;
  height: 90px;
  background-color: #f8f9fa;
  display: flex;

  input {
    background-color: #f8f9fa;
    padding: 37px;
    width: 100%;

  }

  .close {
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 40px;
    color: #dbdbdb;
    cursor: pointer;
  }
}

::placeholder {
  color: #dbdbdb;
}

.search-open.search-close {
  display: none;
}

// SLIDER
.slider-container {
  width: 100%;
  height: 100%;
  top: -90px;
  margin-bottom: -90px;
  display: flex;
  position: relative;
  overflow: hidden;
  transition: all 2s ease;

  .arrow {
    width: 50px;
    height: 50px;
    background-color: lightgreen;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
    z-index: 10;
  }

  .arrow:hover {
    opacity: 1;
    transform: scale(1.1);
  }

  .left {
    left: 15px;
  }

  .right {
    right: 15px;
  }
}

.slide {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;

  .img-container {
    width: 90%;
    height: 90%;
    padding: 50px;
    flex: 1;
    object-fit: contain;
  }

  .info-container {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: ease-out 1s;

    h1 {
      font-size: 70px;
    }

    p {
      margin: 50px 0;
      font-size: 20px;
      letter-spacing: 2px;
    }

    button {
      padding: 10px;
      font-size: 20px;
      background-color: transparent;
      cursor: pointer;
      transition: 0.5s;
    }
  }
}

// CATEGORIES
.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  .category-block {
    flex: 1;
    margin: 10px 10px 0;
    position: relative;
    overflow: hidden;
  }

  .cat-image {
    transition: all 5s;
    overflow: hidden;
  }

  .category-block:hover .cat-image {
    transform: scale(1.3);
  }

  button {
    padding: 10px;
    font-size: 20px;
    background-color: #fff;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.5s;
  }

  button:hover {
    opacity: 0.9;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h1 {
    padding: 0 20px;
    color: #adeeda;
    font-size: 36px;
    text-align: center;
  }
}

// PRODUCTS
.pr-container {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: space-between;
}

.products {
  flex: 1;
  margin: 0 15px 30px;
  min-width: 280px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  background-color: lavender;

  &:hover .info {
    opacity: 1;
  }

  .pr-images {
    height: 75%;
    z-index: 2;
  }

  .info {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: all 0.5s ease;
    cursor: pointer;
  }

  .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    transition: all 0.5s ease;

    &:hover {
      background-color: #e9f5f5;
      transform: scale(1.1);
    }
  }
}

// VIDEO

#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

// READ
.read-container {
  width: 100%;
  margin: 35px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .col-read {
    flex: 0 0 32%;
    max-width: 32%;
    margin: 10px;
    background-color: rgb(244, 244, 244);
  }

  .read-images {
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
  }

  .image {
    transition: 5s all;
  }

  img {
    height: 450px;
    width: 100%;
    object-fit: cover;
  }

  .read-images:hover .image {
    transform: scale(1.3);
  }

  .info {
    padding: 20px;
  }

  h6 {
    color: #777;
    font-weight: 100;
  }

  p {
    font-size: 13px;
  }

  a {
    text-decoration: none;
    color: #777;
    font-size: 11px;
    transition: 0.5s;

    &:hover {
      text-decoration: underline;
    }
  }

  .btn {
    width: 100%;
    margin: 30px 150px 0;

    button {
      width: 100%;
      height: 40px;
      color: #fff;
      background-color: black;
      border: 1px solid black;
      cursor: pointer;
      transition: all 0.5s;

      &:hover {
        color: #000;
        border: none;
        background-color: transparent;
      }
    }
  }
}

// NEWSLETTER
.news-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: papayawhip;
  width: 100%;
  height: 50vh;

  h1 {
    font-size: 50px;
    margin: 0;
  }

  .inp {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  input {
    width: 100%;
    height: 20px;
    outline: none;
    padding: 10px;
  }

  button {
    width: 100px;
    border: 1px solid #777;
    border-left: none;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      background-color: lightgreen;
    }

    .ico-send {
      height: 20px;
      width: 20px;
    }
  }
}

// FOOTER
.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #282c34;
  color: #fff;

  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0;
  }

  .col-logo {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
  }

  .col {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
  }

  h1 {
    margin: 0;
  }

  h3 {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #fff;
    padding-top: 15px;
    font-size: 14px;

    &:hover {
      color: sandybrown;
      text-decoration: none;
    }
  }
}

// PRODUCTS PAGE

.filter-container {
  display: flex;
  justify-content: space-between;

  .filter {
    margin: 0 30px;

    select {
      padding: 10px;

      &:nth-child(2) {
        margin-right: 10px;
      }
    }
  }

  .sort {
    margin: 0 30px;

    select {
      padding: 10px;
      float: right;
    }
  }
}

// SELECTED PRODUCT
.sel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;

  img {
    object-fit: contain;
    height: 500px;
    padding: 50px 0 50px 100px;
    width: 50%;
  }

  .about {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 50%;
    padding: 50px 100px 50px 0;
    // background-color: aliceblue;
  }

  .col-size {
    margin-top: 20px;
  }

  select {
    padding: 10px;
  }

  h2,
  h4 {
    margin: 0;
  }

  h4 {
    letter-spacing: 2px;
  }

  h5 {
    margin: 10px 0;
  }

  button {
    padding: 10px;
    font-size: 20px;
    background-color: black;
    cursor: pointer;
    transition: 0.5s;
    color: #fff;

    &:hover {
      background-color: transparent;
      color: black;
    }
  }

  .color-circle {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 50%;
  }
}